/*Screen sizes*/
$screen_small: "576px";
$screen_medium: "768px";
$screen_large: "992px";
$screen_xlarge: "1200px";

$mobile: "only screen and (max-width: #{$screen_small - 1})";
$mobile_landscape: "only screen and (min-width: #{$screen_small}) and (orientation : landscape)";

$tablet: "only screen and (min-width: #{$screen_medium})";
$tablet_portrait: "only screen and (min-width: #{$screen_medium}) and (orientation : portrait)";
$tablet_landscape: "only screen and (min-width: #{$screen_medium}) and (orientation : landscape)";
$tablet_max: "only screen and (max-width: #{$screen_large - 1})";
$normal: "only screen and (min-width: #{$screen_large})";
$desktop: "only screen and (min-width: #{$screen_xlarge})";

/* Fonts */ 
$font-text: 'Alegreya Sans', sans-serif;
$font-title: Verdana, Geneva, Tahoma, sans-serif;


/* Colors */
$black: #0c0c0c;
$gray: rgb(37, 37, 37);
$white: #FBF9F9;
$details: rgb(204, 102,51);