/* Fonts */ 
$font-text: 'Alegreya Sans', sans-serif;
$font-title: Verdana, Geneva, Tahoma, sans-serif;


/* Colors */
$black: #0c0c0c;
$gray: rgb(37, 37, 37);
$white: #FBF9F9;
$details: rgb(204, 102,51);