footer{
    width: 100%;
    background-color: $gray;
    text-align: center;
        .copyright{
            color: $white;
            font-family: $font-title;
            font-size: 10px;
            margin: 5px;
        }
    ul#iconos-contact li{
         display: inline-block;
    
         a{
             font-size: 20px;
             color: $white;
             &:hover{
            color: $details;
        }
    } 
    }
}