header{
    .rotulo{
        width: 100%;
        height: auto; 
        display: flex;
        justify-content: space-between;
        .logo{
        padding: 15px 15px;
        margin: 5px;
        }   
            ul{
                li{
                     list-style: none;
                     text-align: right;
                     padding: 30px 5px;
                     margin: 5px;
                     display: inline-block;
                    a{ 
                        color: $white;
                        font-family: $font-title;
                        font-size: 20px;
                        text-decoration: none;            
                    &:hover{
                        color: $details;
                        }
                    }    
                }
            }
        }
}   

h2.titulos{
    color: $white;
    font-family: $font-text;
    font-size: 90px;
    text-align: center;
}

h2.contac{
    @extend h2.titulos;
    color: $black;
    background-color: $white;
    border-bottom: 1px solid $details;
}

@each $header in servicios, catering, experiencias{
    ##{$header}-portada {
    background-image: url(../imagenes/#{$header}.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
}

/*
#servicios{
    background-image: url(../../imagenes/djenblancoynegro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#catering{
    background-image: url(../../imagenes/cateringblancoynegro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#experiencias{
    background-image: url(../../imagenes/experiencias.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*/

#contacto{
    background: $white;
            a{ 
                color: $black;
                font-family: $font-title;
                font-size: 20px;
                text-decoration: none;
                }
                a:hover{
                color: $details;
                }        
}
