/* Pag servicios y catering*/
section.texto{
    color: $gray;
    font-family: $font-text;
    text-align: justify;
    margin-bottom: 15px;
    align-self: center;
    .bloque1{
        display: flex;
        margin: top;
    }
    #parrafo1{
        width: 500px;
        height: 150px;
        margin: 50px;
        align-self: center;
        justify-self: end;
    }
    #parrafo2{
        @extend #parrafo1;
        justify-self: start;
    }
    #parrafo3{
        width: auto;
        height: 200px;
        text-align: center;
        padding: 0px 5px; 
    }
}

/* Pag contacto*/

#texto2{
    color: $gray;
    font-family: $font-text;
    font-size: 0.93rem;
    line-height: 1;
    letter-spacing: 2px;
    display: grid;
    grid-row-gap: 20px;
    justify-items: center;
    margin: 20px;
}

/* Pag home*/

h2.index-titulo{
    color: $gray;
    font-family: $font-text;
    font-size: 3rem;
    text-align: center;
    height: 150px;
    padding: 50px 0px 0px 0px;
}

/* Pag experiencias*/
.texto3{
    color:$gray;
    font-family: $font-text;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 1px;

    .experiencia1{
        align-self: center;
        &:hover{
            opacity: 80%;
        }
    }
    .momento{
        color:$gray;
        text-align: center;
        padding-top: 10px;
        &:hover{
            color: $details;
            opacity: 80%;
        }
    
    }
}

.contenedor{
    width: 100%;
    margin: auto;
}

.boton1 {
    width: 200px;
    height: 35px;
    background-color: $gray;
    text-align: center;
    padding: 0px 5px; 
    border: 2px outset $gray;
    border-radius: 5px;
    display:block;
    margin: auto;
    margin-bottom: 15px ;
    a{
        text-decoration: none;
        text-align: center;
        color: $white;
        font-family: $font-title;
        font-size: 1.25rem;
    }
    &:hover{
        background-color: $details;
        border: 2px outset $details;
        color: $white;
    }
}

.boton2 {
    width: 200px;
    height: 35px;
    background-color: $gray;
    text-align: center;
    padding: 0px 5px; 
    border: 2px outset $gray;
    border-radius: 5px;
    display:block;
    margin: auto;
    margin-bottom: 15px ;
    text-decoration: none;
    text-align: center;
    color: $white;
    font-family: $font-title;
    font-size: 1.25rem;
    &:hover{
        background-color: $details;
        border: 2px outset $details;
        color: $white;
    }
}

